footer{
    width: 100%;
    padding-bottom: 0.4rem;
    text-align: center;
    background:url("../image/footer.png") no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
footer p:nth-child(1){
    margin-top: 0.427rem;
}
footer p:nth-child(2){
    margin: 0.067rem auto;
}
footer p{
    font-size: 0.267rem;
    color: white;
}
